+slide
    h2 Data Types
    pre
        code.
            strings   var lastName = "Johnson";

            numbers   var length = 16;

            booleans  var outsome = false, var someValue = 5 > 4

            Array     var cars = ["Saab", "Volvo", "BMW"];

            Object    var x = {firstName:"John", lastName:"Doe"};