+slide
    h1 Intro to JS - Week 2
    h3 Learning the basics
    p
        small.
            Created by #[a(mailto="robert.lavender@digital.hmrc.gov.uk") Robert Lavender]
    aside.notes
        ul
            li Did anyone play with JQuery?
            li look at the JS Cheatsheet?
            li Find any examples of interactivity?
