+slide
    h2 Course Objectives
    ul
        li JavaScript Cheatsheet
        ul
            li Comments
            li Data Types
            li Variables
            li Functions
        li Example: Form