+slide
    h2 Basic Maths
    pre
        code.
            ()  control order of operations
            *   multiplication
            /   division
            -   subtraction
            +   addition
            %   Math and the modulo
            ++  Increment
            --  Decrement

