+slide
    h2 Functions

    p Creating and calling a simple function

    table(style="width:100%;")
        tr
            td(style="width:60%;")
                pre
                    code.
                        var divideByThree = function(num) {
                            var val = num / 3;
                            console.log(val);
                        };
            td(style="font-size: 21px;")
                | Create a variable and assign it a function <br />
                | Create a variable called val <br />
                | assign it the value of number / 3 <br />
                | Output val to the console
        tr
            td
                pre
                    code.
                        divideByThree(6);
            td(style="font-size: 21px;")
                | we call the function 'dividebythree' <br />
                | and input the parameter 6 <br />
                | The computer then runs the code inside the function!
