+slide
    h1 Intro to JS - Week 1
    h3 Learning the basics
    p
        small.
            Created by #[a(mailto="robert.lavender@digital.hmrc.gov.uk") Robert Lavender]
    aside.notes
        ul
            li ABOUT ME - I've been in the DDCN for 4 months
            li I work on Team 9 on PAYE
            li Previously I worked as a Frontend Designer for a Drupal Development company
            li Show Concern.net
            a (href="http://concern.net")
