+slide
    h2 What is your WHY?
    br
    h3 ‘He who has a why can endure any how.’
    p - Frederick Nietzsche, German philosopher
    br
    h4 Why do you want to learn JavaScript?

        aside.notes
            p MY WHY - I have taken the journey and I want to pass my knowledge on to others.
            p I do my best learning when I'm challenged to teach