+slide
    h2 Course Objectives
    ul
        li To be confident using JQuery
        li To have a good basic foundation in JavaScript
        li To be able to make a web page that people can interact with
        li Have resources to develop your Javascript knowledge