+slide
    h2 Web Development
    ul
        li Development Environment
        ul
            li Chrome Web Browser & Developer Tools
            li Brackets IDE (Integrated Development Environment)
        li JavaScript
        li JQuery
        li Bootstrap
        li JS Bin