+slide
    +slide
      
        h2 History of JavaScript
        ul
            li JavaScript was created in 1995 by Brendan Eich
            li There is a release cycle for new versions, the latest is ECMAScript 6
            li Browsers, by default, come with a JavaScript engine
            li Unfortunately, there are browser inconsistencies
        hr
        h3 The rise of the JS Libraries
        ul
            li Jquery, Prototype, Moo Tools
