+slide
    +slide

        h2 Plain JavaScript Vs JQuery

        h3 Plain JavaScript
        pre
            code.
                function changeBackground(color) {
                    Document.body.style.background = color;
                }
                Onload=”changeBackground (‘red’);”

        h3 JQuery
        pre
            code.
                $ (‘body’) .css (‘background’, ‘#ccc’);

        aside.notes
            ul
                li Test the JS Code using Table example