+slide
    +slide
      
        h2 What is JQuery?
        ul
            li Just one of many JavaScript libraries
            li It's made with plain old JavaScript
            li You download it and add it to your page or use a CDN
