+slide
    h2 Resources
    ul
        li Brackets - #[a(href="http://brackets.io") brackets.io]
        li Basic JavaScript Cheatsheet
        li #[a(href="http://oscarotero.com/jquery/") JQuery Reference]